<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" href="../css/base.css">
    <link rel="Stylesheet" href="../css/dosColumnasIguales.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header>
        <img src="../imagenes/LogoUniversidad.png" alt="Logo Universidad">
    </header>
    <nav>
        <ul class="menu">
            <li>
                <a href="Index.html">Principal</a>
            </li>
            <li>
                <a href="tutorias.html">Tutorias</a>
            </li>
            <li>
                <a href="Tutores.html">Tutores</a>
            </li>
            <li>
                <a href="Horarios.html">Horarios</a>
            </li>
            <li>
                <a href="Beneficios.html">Beneficios</a>
            </li>
            <li>
                <a href="Reglamento.html">Reglametos</a>
            </li>
            <li>
                <a href="Tepes.html">Tepes</a>
            </li>
            <li>
                <a href="AcercaDe.html">Conocemos</a>
            </li>
            <li>
                <a href="formulario.html">Contactanos</a>
            </li>
        </ul>
    </nav>
    <section>
        <article>
            <h2> Certificado de competencia</h2>
            <h3>Certificado Adicional al título de grado
            </h3>
            <p>El cetificado de comptecia te da un plus en tu vida profecional</p>
        </article>
        <aside>
            <img class="imgD" src="../imagenes/certificadoCompetencia.png" alt="nuevos tutores">
        </aside>

        <article>

            <p>Los cetificados de competencia se dan al momentos de graduarse </p>
        </article>
        <aside>
            <img class="imgD" src="../imagenes/certificado.png" alt="nuevos tutores">
        </aside>
    </section>
    <section>
        <article>
            <h2> Pasantias</h2>
            <p>Extensiones universitarias
                Labor comunitaria
                (120-160 h)
            </p>

            <p>Uno de las pasantias son los videos que se realizan dentro de las instalaciones de
                la universidad con el afan de ayudar a los estudiantes mediante videos tutoriasles o audios

            </p>
            <img src="../imagenes/video.jpg" alt="" />
            <img src="../imagenes/video1.png" alt="" />
        </article>
        <aside>
            <h2>Aqui tenemos algunos resultados finales</h2>
            <aside >  <video src="../Videos/Video Paulina.mp4" width="85%" height="30%" controls poster="vistaprevia.jpg"></video></aside>
            
                
        </aside>
        <aside>
            <audio controls>
                <source src="../audios/melodyloops-original-spring-flower-2m30s.mp3" type="audio/mp3">
                <source src="../audios/melodyloops-original-spring-flower-2m30s.mp3" type="audio/ogg">
            </audio>
        </aside>
    </section>

    <footer>
        <p>Miguel Angel Samaniego Calle</p>
        <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
        <p><a href="tel:+593986832324">0986832324</a></p>
        <p>&copy;Todos los derechos reservados</p>
    </footer>
</body>

</html>