<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="Stylesheet" href="../css/base.css">
        <link rel="Stylesheet" href="../css/dosColumnas.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <header>
            <img src="../imagenes/LogoUniversidad.png" alt="Logo Universidad">
        </header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="Index.html">Principal</a>
                </li>
                <li>
                    <a href="tutorias.html">Tutorias</a>
                </li>
                <li>
                    <a href="Tutores.html">Tutores</a>
                </li>
                <li>
                    <a href="Horarios.html">Horarios</a>
                </li>
                <li>
                    <a href="Beneficios.html">Beneficios</a>
                </li>
                <li>
                    <a href="Reglamento.html">Reglametos</a>
                </li>
                <li>
                    <a href="Tepes.html">Tepes</a>
                </li>
                <li>
                    <a href="AcercaDe.html">Conocemos</a> 
                </li>    
                <li>
                    <a href="formulario.html">Contactanos</a> 
                </li>           
        </ul>
        </nav>
        <section id="menu">
            <h1>Índice</h1>
            <nav >
                <dl class= "sub-menu">

                    <dt><a href="#1">TITULO I</a></dt> 
                        <dd><a href="#1.1">OBJETIVOS, ÁMBITO DE ACCIÓN</a></dd>
                    <dt><a  href="#2">TITULO II</a></dt> 
                        <dd><a href="#2.1"> ESTRUCTURA ORGANIZACIONAL</a></dd>
                    <dt><a  href="#3">TITULO III </a></dt> 
                        <dd><a href="#3.1">FORMA DE ELECCIÓN DE LAS DIGNIDADES</a></dd>

                    <dt><a  href="#4">TITULO Iv </a></dt> 
                         <dd><a href="#4.1">ATRIBUCIONES Y DEBERES DE LA DIRECTIVA</a></dd>
                    <dt><a  href="#5">TITULO V</a></dt> 
                        <dd><a href="#5.1">DERECHOS Y OBLIGACIONES DE LOS MIEMBROS</a></dd>
                    <dt><a  href="#6">TITULO VI</a></dt> 
                         <dd><a href="#6.1">NUEVOS TUTORES</a></dd> 
                    <dt><a  href="#7">TITULO VII </a></dt> 
                        <dd><a href="#7.1">SUSPENSIÓN DE LOS MIEMBROS </a></dd>
                         
                    <dt><a  href="#8"></a>TITULO VIII </a></dt> 
                       <dd><a href="#8.1">ACTIVIDADES</a></dd> 
                    <dt><a  href="#9"></a>TITULO IX </a></dt> 
                       <dd><a href="#9.1">DIRECTIVA</a></dd> 
                    <dt><a  href="#10"></a>TITULO X </a></dt> 
                       <dd><a href="#10.1">DIRECTIVA</a></dd> 
                
                </dl> 
            </nav >
        </section>
        <section id="escrito">
            <article>
                <header><h1 id="tepes">ESTATUTOS </h1>
                   <p id="subindice">(Estatuto interno)</p> 
                    </header>
                    

                  <h2 Id="1">TITULO I</h2> 

                    <h3 Id="1.1">OBJETIVOS, ÁMBITO DE ACCIÓN</h3> 
                    <ol>
                    <p>Objetivos </p>

                    <p>Art. 2.- Ámbito de acción:  </p>
                    </ol>
                    <h2 Id="2">TITULO II </h2>

                    <h3 Id="2.1"> ESTRUCTURA ORGANIZACIONAL </h3>


                    <p>Art. 3.- Para su funcionamiento se cuenta con la siguiente estructura general: </p>
                    <ul>

                    <li>Asamblea general  </li>

                    <li>Animador del grupo  </li>

                    <li>Directiva  </li>

                    <li>Coordinador(a)  </li>

                    <li>Subcoordinador(a) de ingenierías y ciencias de la vida  </li>

                    <li>Subcoordinador(a) del área administrativa  </li>

                    <li>Secretario(a)  </li>

                    <li>Tesorero(a) </li>
                    </ul>
                    <h2 Id="3">TITULO III </h2>

                    <h3 Id="3.1">FORMA DE ELECCIÓN DE LAS DIGNIDADES  </h3>

                    

                    

                    <h2 Id="4">TITULO IV </h2>

                    <h3 Id="4.1">ATRIBUCIONES Y DEBERES DE LA DIRECTIVA </h3>

                    <p>Art. 4.- Atribuciones del Animador </p>

                    <p>Art. 5.- Deberes del Animador </p>

                    <p>Art. 6.- Atribuciones del Coordinador </p>

                    <p>Art. 7.- Deberes del Coordinador </p>

                    <p>Art. 8.- Atribuciones de los Subcoordinadores </p>

                    <p>Art. 9.- Deberes de los Subcoordinadores </p>

                    <p>Art. 10.- Atribuciones del secretario </p>

                    <p>Art. 11.- Deberes del secretario </p>

                    <p>Art. 12.- Atribuciones del Tesorero </p>

                    <p>Art. 13.- Deberes del Tesorero </p>

                    <h2 Id="5">TITULO V </h2>

                    <h3 Id="5.1">DERECHOS Y OBLIGACIONES DE LOS MIEMBROS </h3>

                    <p>Art. 14.- Derechos de los miembros </p>

                    <p>Art. 15.- Deberes de los miembros </p>

                    <h2 Id="6">TITULO VI </h2>

                    <h3 Id="6.1">NUEVOS TUTORES </h3>

                    <p>Art. 16.- Requisitos </p>

                    <p>El estudiante deberá pertenecer y estar matriculado en la Universidad Politécnica Salesiana  

                    Mostrar una actitud de ayuda hacia sus compañeros  

                    Haber culminado la materia que desea ser tutor 

                    Los nuevos candidatos a tutores podrán ser aceptados si cumplen con alguno de los siguientes ítems: 

                    Tener un promedio preferentemente de 85 o superior en la materia que desea impartir tutorías  

                    Tener una nota o puntaje alta en referencia con el promedio del curso 

                    Contar con la recomendación del profesor de la materia que desea dar tutorías 

                    Contar con la recomendación del animador o directiva vigente  </p>

                    <H2 Id="7">TITULO VII </H2>

                    <h3 Id="7.1">SUSPENSIÓN DE LOS MIEMBROS </h3>

                    <p>Los miembros seran suspendidos si decidieran cobrar por la tutorias al ser esta gratis</p>

                    <h2 Id="8">TITULO VIII </h2>

                    <h3 Id="8.1">ACTIVIDADES  </h3>

                    <p>El tutor tiene la posibilidad de realizar distintos tipos de tutorías de acuerdo a la disposición del tutorado: </p>
                    <ul>
                    <li>Tutorías emergentes  </li>

                    <li>Tutorías de consulta  </li>

                    <li>Tutorías de seguimiento  </li>
                    </ul>
                    

                    <h2 Id="9">TITULO IX </h2>

                    <h3 Id="9.1">DIRECTIVA </h3>

                    <h3>Formato de la Directiva</h3>
                    <ul>

                    <li>La directiva contara obligatoriamente con un Coordinador general </li>

                    La directiva podrá contar con más de un Sub Coordinador dependiendo del número de áreas que existan en ese momento en Asu Ayudantías y estas serán decididas por la directiva vigente y los puestos disponibles serán anunciados antes de llamar a Elecciones </li>

                    La directiva contara además con un secretario y un tesorero </li>

                    El número de vocales presentes en la directiva serán decididos por el coordinador vigente al momento de ser elegido y cuáles serán sus funciones  </li>

                    <h3>Requisitos para ser Candidato </h3>
                    <ul>

                    Para ser candidatos a un miembro de la directiva el tutor debe ser considerado un tutor activo por al menos dos ciclos consecutivos. </li>

                    En caso de Sub Coordinador también deberá pertenecer al área de enseñanza. </li>

                    Presentar una actitud de responsabilidad y liderazgo </li>
                    </ul>

                    <h3>Elecciones </h3> 
                    <ul>

                    <li>Los miembros de la directiva serán elegidos mediante voto popular compuesto por los tutores dentro de una reunión  </li>

                    <li>Las elecciones a nueva directiva se realizarán cada dos ciclos en la primera reunión de inicio de ciclo o en la reunión de fin de ciclo </li>

                    <li>En caso de Emergencia el animador del grupo podrá elegir un coordinador EMERGENTE  </li>
                    </ul>

                    <h3>Coordinador Emergente </h3>
                    <ul>

                    <li>li>El coordinador emergente tendrá funciones durante un único ciclo antes de llamar a elecciones  </li>

                    <li>El coordinador emergente podrá elegir a los miembros de su directiva y estos deberán ser aprobados por el animador  </li>        

                    </ul>

                    <h2 Id="10">TITULO X </h2>

                    <h3 Id="1o.1"> REGLAMENTO </h3>
                    <ul>

                    <li>El reglamento será entregado a la nueva directiva en un máximo de dos días luego de su elección o designación en caso de coordinador emergente </li>

                    <li>La directiva tendrá 15 días para decidir si hacer una modificación al reglamento o continuar con dicho reglamente tal como esta </li>

                    <li>Para la alteración o modificación del reglamento en una o varias clausulas se deberá tener presente al coordinador, subcoordinadores y animador del grupo. </li>

                    <li>La directiva vigente únicamente podrá proponer una modificación al reglamento durante el primer ciclo de su periodo con excepción de: </li>
                    <ol>
                            <li> El animador del grupo llame a un cambio en el reglamento </li>

                                <li>  Se pida un cambio en el reglamente en una reunión general en el que estén    presentes la directiva y el quorum necesario de tutores </li>
                                </ol>
                                </ul>
                                </article>
        
        </section>

        <footer>
            <p>Miguel Angel Samaniego Calle</p>
            <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
            <p><a href="tel:+593986832324">0986832324</a></p>
            <p>&copy;Todos los derechos reservados</p>
        </footer>
    </body>
</html>