{% extends 'index.html'%}
{% block content%}
<link rel="Stylesheet" href="../static/css/base.css">
<link rel="Stylesheet" href="../static/css/dosColumnasIguales.css">
<section>
    <article>
        <header>
            <h1>Miembros del GIETAES </h1>
        </header>
    </article>
    <aside>
        <img class="imgD" src="../static/imagenes/miembrosgiataes.png" />
    </aside>
</section>
<section>
    <article>

        <header>
            <h1>Directiva ASU Ayudantías Estudiantiles
            </h1>
        </header>
    </article>
    <aside>
        <img class="imgD" src="../static/imagenes/miembrosDirectiva.png" />
    </aside>
</section>
{% endblock content%}