<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <link rel="Stylesheet" href="../static/css/base.css">
    <link rel="Stylesheet" href="../static/css/formulario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <header >
            <img src="../static/imagenes/LogoUniversidad.png" alt="Logo Universidad">
        </header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="/">Principal</a>
                </li>
                <li>
                    <a href="/tutorias">Tutorias</a>
                </li>
                <li>
                    <a href="/tutores">Tutores</a>
                </li>
                <li>
                    <a href="/horarios">Horarios</a>
                </li>
                <li>
                    <a href="/beneficios">Beneficios</a>
                </li>
                <li>
                    <a href="/reglamento">Reglametos</a>
                </li>
                <li>
                    <a href="/tepes">Tepes</a>
                </li>
                <li>
                    <a href="/conocemos">Conocemos</a> 
                </li>    
                <li>
                    <a href="/contacto">Contactanos</a> 
                </li>     
                <li>
                    <a href="/prueba">Prueba</a> 
                </li>  
                <li>
                    <a href="/estudiantes">Estudiantes</a> 
                </li>    
        </ul>
        </nav>
        <section>
            <form method="POST" action='/estudiantes'>
            <label> Ingrese los datos del Estudiante para crearlo </label> 
            <input class="texto" type="text" name="cedula" id= "cedula" placeholder="Ingresa su cedula">  
           <input class="texto" type="text" name="nombres" id= "nombres" placeholder="Ingresa sus nombres">    
           <input class="texto" type="text" name="apellidos" id= "apellidos" placeholder="Ingresa sus apellidos">    
           <input  class="texto"type="email" name="correo" id= "correo" placeholder="Ingrese su correo">  
           <label>Te gusta dar clases?</label>
           <select name="" id="" >
            
            <option value="">NO</option>
            <option value="">SI</option>
        </select> 
           <input class="boton" type="submit" name="submit" id= "submit" placeholder="Enviar">   
          
        </form>
        <p> {{contador}}</p>
        </section>

        
           
        <footer>
            <p>Miguel Angel Samaniego Calle</p>
            <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
            <p><a href="tel:+593986832324">0986832324</a></p>
            <p>&copy;Todos los derechos reservados</p>
        </footer>
    </body>
</html>