<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="Stylesheet" href="../css/base.css">
        <link rel="Stylesheet" href="../css/formulario.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <header >
            <img src="../imagenes/LogoUniversidad.png" alt="Logo Universidad">
        </header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="Index.html">Principal</a>
                </li>
                <li>
                    <a href="tutorias.html">Tutorias</a>
                </li>
                <li>
                    <a href="Tutores.html">Tutores</a>
                </li>
                <li>
                    <a href="Horarios.html">Horarios</a>
                </li>
                <li>
                    <a href="Beneficios.html">Beneficios</a>
                </li>
                <li>
                    <a href="Reglamento.html">Reglametos</a>
                </li>
                <li>
                    <a href="Tepes.html">Tepes</a>
                </li>
                <li>
                    <a href="AcercaDe.html">Conocemos</a> 
                </li>    
                <li>
                    <a href="formulario.html">Contactanos</a> 
                </li>        
        </ul>
        </nav>
        <section>
           <input class="texto" type="text" name="nombres" id= "nombres" placeholder="Ingresa sus nombres">    
           <input class="texto" type="text" name="apellidos" id= "apellidos" placeholder="Ingresa sus apellidos">    
           <input  class="texto"type="email" name="correo" id= "correo" placeholder="Ingrese su correo">   
           <label> Ingrese sus preguntas </label> 
           <textarea name="textArea" id= "textArea" placeholder="Ingresa sus preguntas" >  </textarea>
           <input class="boton" type="submit" name="submit" id= "submit" placeholder="Enviar">   
        </section>
        
           
        <footer>
            <p>Miguel Angel Samaniego Calle</p>
            <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
            <p><a href="tel:+593986832324">0986832324</a></p>
            <p>&copy;Todos los derechos reservados</p>
        </footer>
    </body>
</html>