<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="Stylesheet" href="../static/css/base.css">
        <link rel="Stylesheet" href="../static/css/horarios.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <header>
            <img src="../static/imagenes/LogoUniversidad.png" alt="Logo Universidad">
        </header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="/">Principal</a>
                </li>
                <li>
                    <a href="/tutorias">Tutorias</a>
                </li>
                <li>
                    <a href="/tutores">Tutores</a>
                </li>
                <li>
                    <a href="/horarios">Horarios</a>
                </li>
                <li>
                    <a href="/beneficios">Beneficios</a>
                </li>
                <li>
                    <a href="/reglamento">Reglametos</a>
                </li>
                <li>
                    <a href="/tepes">Tepes</a>
                </li>
                <li>
                    <a href="/conocemos">Conocemos</a> 
                </li>    
                <li>
                    <a href="/contacto">Contactanos</a> 
                </li>        
        </ul>
        </nav>
        <header> <h1>GRUPO DE INNOVACIÓN EDUCATIVA EN TUTORÍAS ACADÉMICAS AL ESTILO SALESIANO (GIETAES), PERIODO 59</h1></header>
        <section>
            
            <article>
                

                <table style="width: 50%;">
                    <tr>
                        <th colspan="4">EDGAR MATUTE<br> MECATRÓNICA</th> 
                        <th colspan="4">ematute@ups.edu.ec <br>099 520 8986</th>
                    </tr>
                    <tr>
                        <th colspan="8"><h3>ZOOM ID    827 8754 8968</h3></th>
                    </tr>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                       <td class="hora">08h00 - 9h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Matematicas</td>
                    <tr>
                       <td class="hora">09h00 - 10h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">10h00 - 11h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Calculo</td>
                    </tr>
                    <tr>
                        <td class="hora">11h00 - 12h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">12h00 - 13h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">13h00 - 14h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">14h00 - 15h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">15h00 - 16h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">16h00 - 17h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">17h00 - 18h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">18h00 - 19h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">19h00 - 20h00</td>
                       <td class="lleno">Algebra Lineal</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">20h00 - 21h00</td>
                        <td class="lleno">Matematica</td>
                        <td></td>
                        <td class="lleno">Matematica</td>
                        <td class="lleno">Algebra Lineal</td>
                        <td></td>
                        <td></td>
                    </tr>

                
                </table>
            </article>
            <aside>
            </aside>
        </section>
        <section>
            <article>
                

                <table style="width: 50%;">
                    <tr>
                        <th colspan="4">PAULINA VIVAR<br> BIOTECNOLOGÍA</th> 
                        <th colspan="4">avivar@ups.edu.ec <br>098 270 1574 </th>
                    </tr>
                    <tr>
                        <th colspan="8"><h3>ZOOM ID  689 079 4521</h3></th>
                    </tr>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                       <td class="hora">08h00 - 9h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                    <tr>
                       <td class="hora">09h00 - 10h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                    </tr>
                    <tr>
                        <td class="hora">10h00 - 11h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Quimica organica</td>
                    </tr>
                    <tr>
                        <td class="hora">11h00 - 12h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Bioligia</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Quimica</td>
                       <td class="lleno">Quimica organica</td>
                    </tr>
                    <tr>
                        <td class="hora">12h00 - 13h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Bioligia</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Quimica</td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">13h00 - 14h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">14h00 - 15h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">15h00 - 16h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">16h00 - 17h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">17h00 - 18h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">18h00 - 19h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">19h00 - 20h00</td>
                       <td class="lleno">Quimica organica</td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                       <td class="lleno">Quimica</td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">20h00 - 21h00</td>
                        <td class="lleno">Quimica organica</td>
                        <td></td>
                        <td class="lleno">Quimica</td>
                        <td class="lleno">Quimica</td>
                        <td></td>
                        <td></td>
                    </tr>

                
                </table>
            <aside>
            </aside>
        </section>


        <section>
            
            <article>
                

                <table style="width: 50%;">
                    <tr>
                        <th colspan="4">EDGAR MATUTE<br> MECATRÓNICA</th> 
                        <th colspan="4">ematute@ups.edu.ec <br>099 520 8986</th>
                    </tr>
                    <tr>
                        <th colspan="8"><h3>ZOOM ID    827 8754 8968</h3></th>
                    </tr>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                       <td class="hora">08h00 - 9h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Matematicas</td>
                    <tr>
                       <td class="hora">09h00 - 10h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">10h00 - 11h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Calculo</td>
                    </tr>
                    <tr>
                        <td class="hora">11h00 - 12h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">12h00 - 13h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">13h00 - 14h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">14h00 - 15h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">15h00 - 16h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">16h00 - 17h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">17h00 - 18h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">18h00 - 19h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">19h00 - 20h00</td>
                       <td class="lleno">Algebra Lineal</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">20h00 - 21h00</td>
                        <td class="lleno">Matematica</td>
                        <td></td>
                        <td class="lleno">Matematica</td>
                        <td class="lleno">Algebra Lineal</td>
                        <td></td>
                        <td></td>
                    </tr>

                
                </table>
            </article>
            <aside>
            </aside>
        </section>
        <section>
            <article>
                

                <table style="width: 50%;">
                    <tr>
                        <th colspan="4">SAMANTHA MÁRQUEZ<br> TELECOMUNICACIONES</th> 
                        <th colspan="4">smarquez@ups.edu.ec <br>099 197 3694 </th>
                    </tr>
                    <tr>
                        <th colspan="8"><h3>ZOOM ID    891 9301 9549</h3></th>
                    </tr>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                       <td class="hora">08h00 - 9h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                    <tr>
                       <td class="hora">09h00 - 10h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                    </tr>
                    <tr>
                        <td class="hora">10h00 - 11h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Quimica organica</td>
                    </tr>
                    <tr>
                        <td class="hora">11h00 - 12h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Bioligia</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Quimica</td>
                       <td class="lleno">Quimica organica</td>
                    </tr>
                    <tr>
                        <td class="hora">12h00 - 13h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Bioligia</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Quimica</td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">13h00 - 14h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">14h00 - 15h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">15h00 - 16h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">16h00 - 17h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">17h00 - 18h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">18h00 - 19h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">19h00 - 20h00</td>
                       <td class="lleno">Quimica organica</td>
                       <td></td>
                       <td class="lleno">Quimica</td>
                       <td class="lleno">Quimica</td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">20h00 - 21h00</td>
                        <td class="lleno">Quimica organica</td>
                        <td></td>
                        <td class="lleno">Quimica</td>
                        <td class="lleno">Quimica</td>
                        <td></td>
                        <td></td>
                    </tr>

                
                </table>
            <aside>
            </aside>
        </section>
        <section>
            
            <article>
                

                <table style="width: 50%;">
                    <tr>
                        <th colspan="4">ROBERTO GÓMEZ<br> ELECTRICIDAD</th> 
                        <th colspan="4">rgomez@ups.edu.ec <br>096 981 3582</th>
                    </tr>
                    <tr>
                        <th colspan="8"><h3>ZOOM ID    869 742 2023</h3></th>
                    </tr>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                       <td class="hora">08h00 - 9h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Matematicas</td>
                    <tr>
                       <td class="hora">09h00 - 10h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">10h00 - 11h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td class="lleno">Calculo</td>
                    </tr>
                    <tr>
                        <td class="hora">11h00 - 12h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                    </tr>
                    <tr>
                        <td class="hora">12h00 - 13h00</td>
                       <td></td>
                       <td></td>
                       <td class="lleno">Algebra Lineal</td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">13h00 - 14h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">14h00 - 15h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">15h00 - 16h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">16h00 - 17h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">17h00 - 18h00</td>
                       <td></td>
                       <td></td>
                       <td class="llenoDos">GESTION PASTORAL</td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">18h00 - 19h00</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">19h00 - 20h00</td>
                       <td class="lleno">Algebra Lineal</td>
                       <td></td>
                       <td class="lleno">Matematica</td>
                       <td class="lleno">Matematica</td>
                       <td></td>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="hora">20h00 - 21h00</td>
                        <td class="lleno">Matematica</td>
                        <td></td>
                        <td class="lleno">Matematica</td>
                        <td class="lleno">Algebra Lineal</td>
                        <td></td>
                        <td></td>
                    </tr>

                
                </table>
            </article>
            <aside>
            </aside>
        </section>

        
        <footer>
            <p>Miguel Angel Samaniego Calle</p>
            <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
            <p><a href="tel:+593986832324">0986832324</a></p>
            <p>&copy;Todos los derechos reservados</p>
        </footer>
    </body>
</html>