<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="Stylesheet" href="../static/css/base.css">
         <link rel="Stylesheet" href="../static/css/principal.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <header> 
            <img src="../static/imagenes/LogoUniversidad.png" alt="Logo Universidad"> 
            
        </header>
        <nav >
            <ul class="menu">
                <li>
                    <a href="/">Principal</a>
                </li>
                <li>
                    <a href="/tutorias">Tutorias</a>
                </li>
                <li>
                    <a href="/tutores">Tutores</a>
                </li>
                <li>
                    <a href="/horarios">Horarios</a>
                </li>
                <li>
                    <a href="/beneficios">Beneficios</a>
                </li>
                <li>
                    <a href="/reglamento">Reglametos</a>
                </li>
                <li>
                    <a href="/tepes">Tepes</a>
                </li>
                <li>
                    <a href="/conocemos">Conocemos</a> 
                </li>    
                <li>
                    <a href="/contacto">Contactanos</a> 
                </li>        
        </ul>
        </nav>
        <h1> GRUPO DE INNOVACIÓN EDUCATIVA EN TUTORÍAS ACADÉMICAS AL ESTILO SALESIANO 
        </h1>
        <section class="izquierdo">
            <article>
                
                <h2>
                    Turorias al estilo salesiano
                </h2>
                <p> La universidad politecnica salesiana son el fin de ayudar a los alumnos que necesitan ayuda en materias con alto indice
                    de repitencia ha posibilitado la idea de tener tutorias entre pares
                </p>
                <h2> ¿Qué es una Tutoría Entre Pares?</h2>
                <p class="explicacion"> Un encuentro y crecimiento mutuo Tutor-Tutorado.
                </p>
                <p class="explicacion">Se desenvuelve en un ambiente de familiaridad, confianza y respeto mutuo.
                </p>
                <p class="explicacion">Propicia una relación educativa horizontal</p>
            </article>

            <aside>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ii0LeSARBSk" title="YouTube video player" frameborder="0"
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </aside>
        </section>
        <section>
            <article>
            </article>
            <aside>
                <img class="nuevos" src="../static/imagenes/4.jfif" alt="nuevos tutores"> 
            </aside>
        </section>

        <footer>
            <p>Miguel Angel Samaniego Calle</p>
            <p><a href="mailto:msamaniegoc1@est.ups.edu.ec">msamaniegoc1@est.ups.edu.ec</a></p>
            <p><a href="tel:+593986832324">0986832324</a></p>
            <p>&copy;Todos los derechos reservados</p>
        </footer>
    </body>
</html>