
{% extends 'index.html'%}
 {% block content%}
 <link rel="Stylesheet" href="../static/css/base.css">
 <link rel="Stylesheet" href="../static/css/principal.css">
<h1> GRUPO DE INNOVACIÓN EDUCATIVA EN TUTORÍAS ACADÉMICAS AL ESTILO SALESIANO 
</h1>
<section class="izquierdo">
    <article>
        
        <h2>
            Turorias al estilo salesiano
        </h2>
        <p> La universidad politecnica salesiana son el fin de ayudar a los alumnos que necesitan ayuda en materias con alto indice
            de repitencia ha posibilitado la idea de tener tutorias entre pares
        </p>
        <h2> ¿Qué es una Tutoría Entre Pares?</h2>
        <p class="explicacion"> Un encuentro y crecimiento mutuo Tutor-Tutorado.
        </p>
        <p class="explicacion">Se desenvuelve en un ambiente de familiaridad, confianza y respeto mutuo.
        </p>
        <p class="explicacion">Propicia una relación educativa horizontal</p>
    </article>

    <aside>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ii0LeSARBSk" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>
</section>
<section>
    <article>
    </article>
    <aside>
        <img class="nuevos" src="../static/imagenes/4.jfif" alt="nuevos tutores"> 
    </aside>
</section>
{% endblock content%}