{% extends 'index.html'%}
{% block content%}
<link rel="Stylesheet" href="../static/css/base.css">
<link rel="Stylesheet" href="../static/css/tresColumnas.css">
<section id="izq">
    <article>
        <h1> Tutorias de Verano</h1>
        <p>Las tutorias de veranos con aquellas que se dan 15 dias antes del inicio de clases, se da especial enfasis a
            los alumnos
            que van a ingresar a los primeros ciclos pero se ha dado casos en los que tambien se han dado materia de
            segundo o
            tercer ciclo
        </p>

    </article>
    <aside>
        <img class="tresColumnas" src="../static/imagenes/tutoVerano.jpg" />
    </aside>
</section>
<section id="cen">
    <article>
        <h1> Tutorias Par</h1>
        <p>Las tutorias par son aquellas que se dan durante todo el ciclo, se trata que el alumno(tutorado) se contacte
            con el
            tutor y organicen una secion tutorial en donde se le ayudara en los temas que tengan dificultad, el tutor
            puede ayudaerlo
            a prepararse antes de una prueba, o ayuda durante un deber
        </p>
    </article>
    <aside>
        <img class="tresColumnas" src="../static/imagenes/tutoPar.png" />
    </aside>
</section>
<section id="der">
    <article>
        <h1> Tutorias Intensivas</h1>
        <p>Se dan tambien durante el ciclo, son pedidas por algun profesor o la universidad directamente, se trata de
            que los alumnos
            reciban tutoras durante 2 o 3 semanas de manera en la que puedan nivelar sus conocimientos
        </p>
    </article>
    <img class="tresColumnas" src="../static/imagenes/tutoIntensiva.jpg" />
    <aside>

    </aside>
</section>
{% endblock content%}