{% extends 'index.html'%}
 {% block content%}

<link rel="Stylesheet" href="../static/css/base.css">
<link rel="Stylesheet" href="../static/css/tresColumnas.css">
<section id="izq">
    <article>
        <h1> miembros tutores</h1>
        <p>Contamos con una gran cantidad de tutores para las necesidades de los estudiantes
        </p>

    </article>
    <aside>
        <img class="tresColumnas" src="../static/imagenes/miembrosAsu.jpg" />
    </aside>
</section>
<section id="cen">
    <article>
        <h1> Encuentros</h1>
        <p>Realizamos varios encuentros con los nuevos tutores para una mejor convivencia asi como una manera de
            capacitar a los
            chicos sobre las tutorias

        </p>
    </article>
    <aside>
        <img class="tresColumnas" src="../static/imagenes/1.jfif" />
    </aside>
    <article>
        <p>Hemos retomado las charlas presenciales de manera que se interactua de manera mas humana

        </p>
    </article>
    <aside>
        <img class="tresColumnas" src="../static/imagenes/2.jfif" />
    </aside>
</section>
<section id="der">
    <article>
        <h1> Directiva</h1>
        <p>La diirectiva ha estado al frente de la Asu, esta se renueva cada año
        </p>
    </article>

    <aside>
        <img class="tresColumnas" src="../static/imagenes/5.jfif" />
    </aside>
    <article>
        +
        <p>Los encuentros se realizan en el coworking dentro de la universidad
        </p>
    </article>

    <aside>
        <img class="tresColumnas" src="../static/imagenes/reuniontodos.jfif" />
    </aside>
</section>

 {% endblock content%}